<% fv = {
  txt1 : '“おもんぱかる”</br>気持ちを大切に。',
  txt2 : '野田山動物病院では、”おもんぱかる”＝　相手に寄り添う気持ちを大切にしながら、日々の診療に向き合っております。</br>皆さまにとって身近な存在であるように心がけております。',
} %>

<section class="l-fv">
  <div class="l-fv__dog">
    <div class="l-fv__dog__img">
      <img src="../asset/images/fv_dog.png" alt="none">
      <div class="l-fv__dog__img__opacity">
        <img src="../asset/images/fv_opacity.png" alt="none">
      </div>
    </div>
    <div class="l-fv__dog__txt">
      <p class="l-fv__dog__txt__p"><%- fv.txt1 %></p>
      <p class="l-fv__dog__txt__p--sub"><%- fv.txt2 %></p>
    </div>
  </div>
  <div class="l-fv__tree1">
    <img src="../asset/images/fv_tree1.png" alt="none" class="l-fv__tree1__img">
  </div>
  <div class="l-fv__tree2">
    <img src="../asset/images/fv_tree2.png" alt="none" class="l-fv__tree2__img">
  </div>
</section>