<% topsp = {
  txt1 : 'Web予約はこちら',
  txt2 : 'RESERVED',
  txt3 : '野田山動物病院では、<br>”おもんぱかる”＝相手に寄り添う気持ちを大切にしながら、日々の診療に向き合っております。<br>皆さまにとって身近な存在であるように心がけております。'
} %>
<section class="l-topsp">
  <a href="" class="l-topsp__btn">
    <div class="c-button__topsp">
      <p class="c-button__topsp__txt"><%- topsp.txt1 %></p>
      <p class="c-button__topsp__txt--sub"><%- topsp.txt2 %></p>
    </div>
  </a>
  <div class="l-topsp__txt">
    <p class="l-topsp__txt__p"><%- topsp.txt3 %></p>
  </div>
  <div class="l-topsp__img">
    <img src="../asset/images/topsp.png" alt="none">
  </div>
</section>