@use "./../foundation/_mixin.scss" as bp;

.l-footer{
  &__ad{
    width: 100%;
    height: 1019px;
    background-image: url('../images/top_cal_bg.png');
    background-size: cover;
    position: relative;
    @extend .flex;
    overflow: hidden;
    &__left{
      display: block;
    }
    &__right{
      height: 685px;
      @extend .flex_column;
      align-content: space-between;
    }
    &__animals{
      position: absolute;
      bottom: -3px;
      left: 0;
    }
  }
  &__green{
    height: 962px;
    padding:0 10px;
    @extend .flex;
    background-color: #014715;
    &__left{
      position: relative;
      width:1400px;
      height:100%;
      padding-left: 10px;
      padding-top: 135px;
      text-align: left;
      &__logo{
        display: inline-block;
        width: 350px;
      }
      &__txt{
        @extend .font_white;
        margin-top: 40.64px;
        &__p{
          @extend .font_m;
          font-size: 1.6rem;
          &--tel{
            font-size: 3.2rem;
            font-weight: bold;
            margin-top: 12.65px;
            margin-bottom: 50.61px;
          }
        }
      }
      &__btn{
        position: absolute;
        top: 292px;;
        right:0;
      }
      &__attention{
        @extend .font_white;
        font-size: 1.5rem;
        width:532px;
        margin-top: 26.61px;
      }
    }
    &__right{
      width:100%;
      &__txt{
        width: 296.31px;
        margin-left: auto;
        margin-right: auto;
        &__p{
          @extend .font_white;
          font-size: 2.4rem;
          text-align: left;
        }
        &__list{
          text-align: left;
          margin-left:30px;
          &__a{
            @extend .font_white;
            font-size: 1.6rem;
            display: block;
          }
          &__li{
            margin-left: 30px;
            &__a{
              @extend .font_white;
              font-size: 1.6rem;
              display: block;
            }
          }
        }
      }
    }
    &__staff{
      display: none;
    }
  }
  &__black{
    @extend .flex;
    justify-content: center;
    width:100%;
    height:42px;
    background-color: #323232;
    &__p{
      @extend .font_white;
      font-size: 1.2rem;
    }
  }
}

@include bp.breakpoint(tablet){
  .l-footer{
    &__ad{
      height: auto;
      padding: 0 34px;
      display: block;
      padding-top: 46px;
      &__left{
        display: flex;
        justify-content: center;
        align-items: center;
        &__facebook{
          display: block;
          width: 100%;
          &__img{
            width: 100%;
          }
        }
      }
      &__right{
        height: auto;
        justify-content: center;
        margin-top: 1.79px;
        &__1{
          display: none;
        }
        &__2,&__3,&__4{
          margin-top: 30.7px;
        }
        &__4{
          margin-bottom: 52.96px;
        }
        &__link{
          display: block;
          width: 100%;
          &__img{
            width: 100%;
          }
        }
      }
      &__animals{
        display: none;
      }
    }
    &__green{
      display: block;
      height: auto;
      padding:0;
      padding-bottom: 87.49px;
      &__left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height: auto;
        padding: 0;
        padding-top: 109px;
        &__logo{
          display: block;
          width: 236px;
          &__img{
            width: 100%;
          }
        }
        &__txt{
          margin-top: 37.19px;
          text-align: center;
          &__p{
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
            &--tel{
              font-size: 2.0rem;
              font-weight: normal;
              margin-top: 12.65px;
              margin-bottom: 17.48px;
            }
          }
        }
        &__btn{
          position: initial;
          margin-bottom: 33px;
        }
        &__attention{
          font-family: 'KozGoPr6N-Regular';
          font-size: 1.2rem;
          width:100%;
          margin-top: 21.6px;
          padding: 0 30.39px;
        }
      }
      &__right{
        width:100%;
        height: auto;
        margin-top: 32.56px;
        padding-left: 30.99px;
        &__txt{
          width: 296.31px;
          margin: 0;
          &__p{
            font-size: 2.4rem;
            text-align: left;
          }
          &__list{
            text-align: left;
            margin-left:30px;
            &__a{
              font-size: 1.6rem;
              display: block;
            }
            &__li{
              margin-left: 40px;
              &__a{
                font-size: 1.6rem;
                display: block;
              }
            }
            br{
              display: none;
            }
          }
        }
      }
      &__staff{
        display: block;
        padding: 0 34px;
        margin-top: 187px;
        &__link{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__black{
      justify-content: center;
      width:100%;
      height:57px;
      background-color: #323232;
      &__p{
        font-size: 1.2rem;
      }
    }
  }
}

@include bp.breakpoint(tablet){
  .l-footer{
    &__green{
      &__staff{
        &__link{
          & img{
            width: 100%;
          }
        }
      }
    }
  }
}
