@use "./../../foundation/_mixin.scss" as bp;

.c-list{
  height: 100%;
  @extend .flex_column;
  &__li{
    font-size: 1.4rem;
    &__txt{
      width: 375.72;
      text-align: left;
      margin-left: 5.64px;
      &__span{
        margin-right: 2.8rem;
      }
    }
  }
}